html {
    box-sizing: border-box;
}

body {
    background-color: #000;
}

img {
    width: 100%;
    display: block;
}

.hand {
    width: 14px;
    position: absolute;
    left: calc(50% - 7px);
    bottom: 50%;
}

.hand-hour {
    transition: rotate(360deg);
    transform-origin: center bottom;
}

.hand-minute {
    transition: rotate(360deg);
    transform-origin: center bottom;
}

.clock-face:hover .hand-hour{
    transform: rotate(360deg);
    transition: all 6s linear;
}

.clock-face:hover .hand-minute{
    transform: rotate(4320deg);
    transition: all 6s linear;
}

.clock-face {
    background-image: url(../images/clock-face.svg);
    width: 300px;
    height: 300px;
    position: relative;
}

.btn {
    width: 50%;
}

.center {
    width: 28px;
    position: absolute;
    bottom: calc(50% - 14px);
    left: calc(50% - 14px);
}